In [3]:
import numpy as np 
import pandas as pd 
from scipy.stats import gamma, norm

# visualizatioion pkg 
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline
%config InlineBackend.figure_format='retina'

import sys 
sys.path.append("..") 
from utils.analyze import * 
from utils.viz import viz
from m3_visualize import *
viz.get_style()

In [6]:
data = build_pivot_table('map', agent='MOS', min_q=.01, max_q=.99)
tars = ['l1', 'l2', 'l3']
data['is_PAT'] = data['group'].apply(lambda x: x!='HC')
data = data.groupby(by=['sub_id', 'is_PAT', 'b_type', 'feedback_type']
                )[tars].mean().reset_index()
for i, t in enumerate(tars):
    print(f'\n# ------------------ {t} ----------------- #')
    print(pg.anova(dv=t, between=['is_PAT', 'b_type', 
                'feedback_type'], data=data).round(3))

#-------- Clean Outliers ---------- #

    308 rows
    90.6% data has been retained

# ------------------ l1 ----------------- #
                            Source       SS     DF      MS       F  p-unc  \
0                           is_PAT   52.209    1.0  52.209  26.065  0.000
1                           b_type    3.463    1.0   3.463   1.729  0.190
2                    feedback_type    9.654    1.0   9.654   4.820  0.029
3                  is_PAT * b_type    3.199    1.0   3.199   1.597  0.207
4           is_PAT * feedback_type    1.618    1.0   1.618   0.808  0.369
5           b_type * feedback_type    0.025    1.0   0.025   0.012  0.912
6  is_PAT * b_type * feedback_type    0.187    1.0   0.187   0.093  0.760
7                         Residual  600.918  300.0   2.003     NaN    NaN

     np2
0  0.080
1  0.006
2  0.016
3  0.005
4  0.003
5  0.000
6  0.000
7    NaN

# ------------------ l2 ----------------- #
                            Source        SS     DF      MS       F  p-unc  \
0                           is_PAT    72.967    1.0  72.967  20.372  0.000
1                           b_type     0.087    1.0   0.087   0.024  0.876
2                    feedback_type     6.092    1.0   6.092   1.701  0.193
3                  is_PAT * b_type     0.708    1.0   0.708   0.198  0.657
4           is_PAT * feedback_type     0.628    1.0   0.628   0.175  0.676
5           b_type * feedback_type     0.001    1.0   0.001   0.000  0.986
6  is_PAT * b_type * feedback_type     0.141    1.0   0.141   0.039  0.843
7                         Residual  1074.509  300.0   3.582     NaN    NaN

     np2
0  0.064
1  0.000
2  0.006
3  0.001
4  0.001
5  0.000
6  0.000
7    NaN

# ------------------ l3 ----------------- #
                            Source       SS     DF     MS      F  p-unc    np2
0                           is_PAT    1.725    1.0  1.725  0.754  0.386  0.003
1                           b_type    4.650    1.0  4.650  2.033  0.155  0.007
2                    feedback_type    0.399    1.0  0.399  0.174  0.677  0.001
3                  is_PAT * b_type    0.898    1.0  0.898  0.393  0.531  0.001
4           is_PAT * feedback_type    0.229    1.0  0.229  0.100  0.752  0.000
5           b_type * feedback_type    0.037    1.0  0.037  0.016  0.898  0.000
6  is_PAT * b_type * feedback_type    0.003    1.0  0.003  0.001  0.973  0.000
7                         Residual  686.020  300.0  2.287    NaN    NaN    NaN

In [12]:
sel_data = data.groupby(by=['sub_id', 'feedback_type']).mean(numeric_only=True).reset_index()

In [13]:
sel_data.query('feedback_type=="gain"')

    sub_id feedback_type  is_PAT        l1        l2        l3
0      cb1          gain     0.0  2.632796 -0.298781 -2.328574
2    cb100          gain     1.0  1.369567 -1.772486  0.404088
4    cb101          gain     0.0  1.626852 -3.221004  1.594596
6    cb103          gain     1.0  1.077901 -1.480780  0.399823
8    cb105          gain     1.0 -1.196057  2.199340 -1.005765
..     ...           ...     ...       ...       ...       ...
155    n38          gain     0.0  2.815922 -2.154764 -0.658954
157    n39          gain     0.0 -0.383373 -1.859492  2.241869
159    n41          gain     0.0  1.028830 -0.689340 -0.338836
161    n42          gain     0.0  2.058997 -1.732429 -0.329317
163     n8          gain     0.0  1.168860 -1.166634 -0.002473

[83 rows x 6 columns]

In [14]:
sel_data.query('feedback_type=="loss"')

    sub_id feedback_type  is_PAT        l1        l2        l3
1      cb1          loss     0.0  1.566973  0.375139 -1.941889
3    cb100          loss     1.0  2.362509  0.442739 -2.806967
5    cb101          loss     0.0  1.071437 -2.498369  1.423428
7    cb103          loss     1.0  0.280544  1.482127 -1.764622
9    cb105          loss     1.0 -0.848157 -0.206184  1.056505
..     ...           ...     ...       ...       ...       ...
156    n38          loss     0.0  2.977811 -2.507471 -0.475242
158    n40          loss     0.0  0.918927 -1.946574  1.027553
160    n41          loss     0.0  1.089104  1.548441 -2.636093
162    n42          loss     0.0  0.528133 -0.428518 -0.095740
164     n8          loss     0.0  1.357073 -2.199133  0.840847

[82 rows x 6 columns]

In [17]:
sel_data.groupby(by=['sub_id']).mean(numeric_only=True).reset_index()

   sub_id  is_PAT        l1        l2        l3
0     cb1     0.0  2.099884  0.038179 -2.135231
1   cb100     1.0  1.866038 -0.664874 -1.201439
2   cb101     0.0  1.349145 -2.859687  1.509012
3   cb103     1.0  0.679222  0.000673 -0.682400
4   cb105     1.0 -1.022107  0.996578  0.025370
..    ...     ...       ...       ...       ...
81    n39     0.0 -0.383373 -1.859492  2.241869
82    n40     0.0  0.918927 -1.946574  1.027553
83    n41     0.0  1.058967  0.429551 -1.487464
84    n42     0.0  1.293565 -1.080473 -0.212528
85     n8     0.0  1.262966 -1.682883  0.419187

[86 rows x 5 columns]

In [ ]:
86